*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
   
}

.button{
   
    width: 200px;
    height: 200px;
    border: 1px solid black;

}

#green{
    background-color: green;
    cursor: pointer;
}

#red{
    background-color: red;
    cursor: pointer;
}

#blue{
    background-color: blue;
    cursor: pointer;
}

#yellow{
    background-color: yellow;
    cursor: pointer;
}