@import url("https://fonts.googleapis.com/css");

*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-familyt: "Poppins", sans-serif;
}

/* .image-generator::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #121212;
} */

.image-generator{

    background: url("images/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    /* opacity: 0; */
}

.image-generator .content{
    color: #fff;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
}

.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.35rem;
    margin-top: 10px;
}

.image-generator .generate-form{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding: 6px;
    margin: 45px 0 15px;

}

.generate-form .prompt-input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}

.generate-form .controls{
    display: flex;
    height: 100%;
    gap: 15px;
}

.generate-form .img-quantity{
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
   
}

.generate-form .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 30px;
    background: #4949E7;
}

.image-gallery{
    display: flex;
    padding: 0 15px;
    max-width: 1250px;
    /* margin: 50px 0; */
    justify-content: center;
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 50px;
}
.img-card{
    /* width: 50%; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
.img-card:hover .download-btn{
    display: flex;
}
.download-btn img{
    width: 14px;
    height: 14px;
}